{{>header}}
    <p>Search Location for Weather Forecast</p>
    <form>
        <input type="text" name="addr" id="addr">
        <button class="btn btn-primary">Search</button>
    </form>
    <p id='forecast'></p>
{{>footer}}